@keyframes loading {
  0% {
  }
  100% {
    transform: translateX(410px);
  }
}

.skeleton-item {
  display: flex;
  align-items: center;
  margin: 15px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative; /* 애니메이션기준 */
  overflow: hidden; /* 애니메이션 */
}

.skeleton-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ececec;
  position: relative; /* 애니메이션 */
  overflow: hidden; /* 애니메이션 겉에 안보이게 */
}
/*위에꺼만 해도 나타나는데 애니메이션도 넣으려면 위 주석(애니메이션)처럼 한후, 아래꺼처럼 각각 적용하는것에 ::before +추가 */
.skeleton-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  // background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2);
  background: linear-gradient(
    to right,
    rgba(#fff, 0) 0,
    rgba(#fff, 0.2) 20%,
    rgba(#fff, 0.5) 60%,
    rgba(#fff, 0) 100%
  );
  animation: loading 2s infinite linear;
}

.skeleton-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.skeleton-name {
  width: 50%;
  height: 18px;
  background: #ececec;
  position: relative;
  overflow: hidden;
}
.skeleton-name::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  // background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2);
  background: linear-gradient(
    to right,
    rgba(#fff, 0) 0,
    rgba(#fff, 0.2) 20%,
    rgba(#fff, 0.5) 60%,
    rgba(#fff, 0) 100%
  );
  animation: loading 2s infinite linear;
}

.skeleton-email {
  width: 62%;
  height: 18px;
  background: #ececec;
  margin-top: 3px;
  position: relative;
  overflow: hidden;
}
.skeleton-email::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(#fff, 0) 0,
    rgba(#fff, 0.2) 20%,
    rgba(#fff, 0.5) 60%,
    rgba(#fff, 0) 100%
  );
  animation: loading 2s infinite linear;
}
